<!-- start custom footer snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3500047716372405"
     crossorigin="anonymous"></script>
<!-- eloysalamanca-ad-unit-post -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3500047716372405"
     data-ad-slot="8409600800"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->